@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #84e1ad;
    font-family: Arial, Verdana, Helvetica, Sans-serif;
}

header{
    background-image: linear-gradient(to top, #1a5c38, #3bd17f);
    width: 1343px;
    height: 150px;
}

h1 {
  font-family: 'idroid', sans-serif;
  font-weight: 3em;
  font-style: normal;
  color: #2b6847;
}

h2 {
    font-family: 'idroid', sans-serif;
    font-weight: 3em;
    font-style: normal;
    background-image: linear-gradient(to right, #c5ebd6, white);
    color: #2b6847;
}

h1#titulo {
    text-align: center;
     font-family: "Bebas Neue", sans-serif;
     font-weight: 3em;
     font-style: normal;
     color: white;
}

p#p1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    box-shadow: 5px 5px 15px #0000008c;
    width: 800px;
    padding: 10px;
    margin: auto;
}

strong {
    color: green;
}

iframe {
    width: 800px;
    height: 500px;
}