@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B18771, #63554C);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #131218c5;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #524B41;
    text-align: center;
    text-shadow: 1px 1px 2px #524B41;
}

h2{ 
    color: #EDBB98;
}

p {
    text-align: justify;
}